@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.special-label {
	display: none;
}
.form-control {
	background-color: white;
}
/* div[name="customerInfoFormValue"] {
	/* width: 30%;
	margin-left: 80px; 
} 
*/
@media screen and (max-width: 600px) {
	label[name="customerInfoFormLabel"] {
		height: 40px;
		width: 100%;
		margin-right: 0px;
	}
	div[name="customerInfoFormValue"] {
		height: 100px;
		width: 300px;
		flex-direction: column;
	}
	div[name="SignUpcustomerInfoForm"] {
		flex-direction: column;
		width: 350px;
	}
	div[name="customerInfoFormValue"] > input {
		font-size: 10px;
	}

	div[name="customerInfoForm"] > input,
	select {
		margin: 10px;
	}
	div[name="customerInfoForm"] {
		flex-direction: column;
		width: 200px;
		margin-bottom: 10px;
	}
	.react-tel-input {
		margin: 10px;
		width: 200px;
	}
	button[name="formSubmit"] {
		padding: 0px;
		width: 300px;
	}
	#ConfirmButton {
		width: 5px;
		font-size: 20px;
	}
	div[name="formSubmit"] {
		width: 100px;
	}
	div[name="formSubmitContainer"] {
		width: 100px;
		padding: 0px;
	}
	#SignupButton {
		width: 100px;
	}
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.hidescroll::-webkit-scrollbar {
	display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
